html{
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    background-color: white;
}
span{
    display:block;
    width:45%; /*or whatever width you want the effect of <hr>*/
    border-top:3px solid #ef4565;
    position: relative;
    top: -5em;
    left: 32.7em;
 }
#title {
    margin-top: 2em;
    margin-bottom: 2.5em;
    margin-left: 30%;
    margin-right: auto;
    color: #094067;
}

#map {
    /*margin:auto !important;*/
    height: 500px;
    width: 100%;
    background-color: lightgray;
}

#form{
    margin-left: 40px;
}
